node_modules/
models/
*.pdf
*.png
output/
build/
main.aux
main.fdb_latexmk
main.fls
main.log
main.out
main.synctex.gz
main.tex
main.toc
main.xdv
pdflatex26524.fls
xelatex28976.fls
xelatex34996.fls
12_pipeline/pipeline.log
12_pipeline/input/I001.txt
12_pipeline/input/I008/source.log
12_pipeline/input/I008/source.synctex.gz
99_build/build-2026-04-04-10-31-28.txt
99_build/main.aux
99_build/main.fdb_latexmk
99_build/main.fls
99_build/main.log
99_build/main.out
99_build/main.toc
99_build/main.xdv
build/main.aux
build/main.fdb_latexmk
build/main.fls
build/main.log
build/main.out
build/main.pdf
build/main.toc
build/main.xdv
scripts/__pycache__/clean_i_dirs_files.cpython-314.pyc.2547623612496
scripts/__pycache__/meta_schema.cpython-312.pyc
scripts/__pycache__/meta_schema.cpython-314.pyc
main.aux
main.log
main.out
main.synctex.gz
main.tex
main.toc
12_pipeline/pipeline.log
12_pipeline/input/I001.txt
build/main.aux
build/main.fdb_latexmk
build/main.fls
build/main.log
build/main.out
build/main.pdf
build/main.toc
build/main.xdv
scripts/__pycache__/clean_i_dirs_files.cpython-314.pyc.2547623612496
scripts/__pycache__/meta_schema.cpython-312.pyc
scripts/__pycache__/meta_schema.cpython-314.pyc
